{% extends "admin/base_site.html" %}

{% block extrahead %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "scripts/external/jquery.min.js" %}"></script>
<script type="text/javascript">
    var OBJECT_PK = '{{ object.pk }}';
    {% if object.release_state == 1 %}
        $(function () {
            setTimeout(update_log, 1000);
        });
    {% endif %}
</script>
<script type="text/javascript" src="{% static "scripts/releaselog.js" %}"></script>
<link rel="stylesheet" href="{% static "css/releaselog.css" %}"/>
{% endblock %}

{% block content %}

<h1>Release</h1>
<h2>{{ object }}</h2>

{% if object.release_state == 0 %}
<form enctype="multipart/form-data" action="" method="post" id="maprelease_form" novalidate>
    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    <div class="submit-row">
        <input type="submit" value="Release" class="default" name="_release" />
    </div>
</form>
{% elif object.release_state == 1 %}
<h3>PENDING</h3>
<pre id='log'>
{{ log }}
</pre>
{% elif object.release_state == 2 %}
<h3>DONE</h3>
<pre>
{{ object.log }}
</pre>
{% elif object.release_state == 3 %}
<h3>FAILED</h3>
<pre>
{{ object.log }}
</pre>
{% endif %}
{% endblock %}
