# The requirements file contains all python libraries which must be installed to run the project
# @see https://pip.pypa.io/en/stable/reference/pip_install/#example-requirements-file for details
django
Pillow
pytz
msgpack-python
pypng>=0.0.12