{# extend the base template #}
{% extends "base.html" %}

{# override the section_tilt block with custom header name #}
{% block section_title %}Skins database{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "scripts/skins.js" %}"></script>
{% endblock %}

{# add some submenu on this page #}
{% block sub_menu %}
    <ul>
        <li><a href="most_downloaded/"><span style="color: red">HOT</span></a></li>
        <li><a href="newest/">Newest</a></li>
        <li><a href="hot-artists/">Hot artists</a></li>
    </ul>
{% endblock %}

{# put the main content #}
{% block content %}
    <div id="download-buttons-div">
        <a href="#" onclick="return false;">Download [{{ items_total_count }}]</a>
        <br/>
        <a href="#" onclick="return false;">Download selected [<span id="selected-skins-num-span">{{ selected_skins_to_download|length }}</span>]</a>
        <img src="{% static "images/icons/refresh_icon.png" %}" title="Clear download list" onclick="postClearDownloadList();"/>
    </div>

    <ul>
        {% for i in items %}
            <li>
                {{ i }}
                {# "display: none;" here will preserve the view to present the raw image before skin is rendered#}
                <a href="{{ i.skin_image.url }}">
                    <img src="{{ i.skin_image.url }}" onload="renderSkin(this);" style="display: none;"/>
                </a>

                {# check if item is added to the download skin list#}
                <img id="skin-add-to-download-button-{{ forloop.counter0 }}" class="skin-add-to-download-button"
                     src="{% static "images/icons/add_icon.png" %}" title="Add skin to download"
                     onclick="postAddSkinToDownload({{ forloop.counter0 }}, '{{ i.name }}');"
                        {% if i.name in selected_skins_to_download %}
                     style="display: none;"
                        {% endif %}
                >
                <img id="skin-remove-from-download-button-{{ forloop.counter0 }}"
                     class="skin-remove-from-download-button"
                     src="{% static "images/icons/remove_icon.png" %}" title="Remove skin from download"
                     onclick="postRemoveSkinFromDownload({{ forloop.counter0 }}, '{{ i.name }}');"
                        {% if not i.name in selected_skins_to_download %}
                     style="display: none;"
                        {% endif %}  />
            </li>
        {% endfor %}
    </ul>

    {% include "paginator.html" %}
{% endblock %}
