{# extend the base template #}
{% extends "base.html" %}

{# override the section_tilt block with custom header name #}
{% block section_title %}Skins database{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "scripts/skins.js" %}"></script>
{% endblock %}

{# add some submenu on this page #}
{% block sub_menu %}
    <ul>
        <li><a href="most_downloaded/"><span style="color: red">HOT</span></a></li>
        <li><a href="newest/">Newest</a></li>
        <li><a href="hot-artists/">Hot artists</a></li>
    </ul>
{% endblock %}

{# put the main content #}
{% block content %}
    <ul>
        {% for i in items %}
            <li>
                {{ i }}
                {# "display: none;" here will preserve the view to present the raw image before skin is rendered#}
                <a href="{{ i.skin_image.url }}">
                    <img src="{{ i.skin_image.url }}" onload="renderSkin(this);" style="display: none;"/>
                </a>
            </li>
        {% endfor %}
    </ul>

    {% include "paginator.html" %}
{% endblock %}
