{% extends "admin/base_site.html" %}

{% block extrahead %}
{% load staticfiles %}
{% if object.fix_state == 1 %}
    <script type="text/javascript" src="{% static "scripts/external/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/logupdate.js" %}"></script>
    <script type="text/javascript">
        var LOG_URL = "/maps/api/fix/log/{{ object.pk }}"

            $(function () {
                setTimeout(update_log, 1000);
            });
    </script>
{% endif %}
<link rel="stylesheet" href="{% static "css/logupdate.css" %}"/>
{% endblock %}

{% block content %}

<h1>Mapfix</h1>
<h2>{{ object }}</h2>

{% if object.fix_state == 0 %}
<form enctype="multipart/form-data" action="" method="post" id="mapfix_form" novalidate>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <div class="submit-row">
        <input type="submit" value="Fix" class="default" name="_release" />
    </div>
</form>
{% elif object.fix_state == 1 %}
<h3>PENDING</h3>
<pre id="log">
{{ log }}
</pre>
{% elif object.fix_state == 2 %}
<h3>DONE</h3>
<pre>
{{ object.log }}
</pre>
{% elif object.fix_state == 3 %}
<h3>FAILED</h3>
<pre>
{{ object.log }}
</pre>
{% endif %}
{% endblock %}
